Rename this file to `secure_config.h` and remove this line.
/******************************************************************************
 * secure_config.h
 *
 * This file contains information need to be kept secure.
 * Do NOT commit this file to Git repository.
 *****************************************************************************/

const char *MQTT_USER = "12345678";
const char *MQTT_PASS = "123456789abcdef0";
